{% extends 'base.html.twig' %}

{% block title %} {{ post.title }} {% endblock %}

{% block body %}

<div class="columns is-centered">
    <div class="column is-three-quarters">
        <div class="section">
            <div class="container">

                {{ htmlContent|raw }}

            </div>
        </div>
    </div>
</div>

{% endblock %}